In [ ]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")
data.drop("PassengerId",axis=1,inplace=True)
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data['Name'] =data['Name'].map(lambda test:test.split(",")[1].split(".")[0].strip())
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,Mr,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,Mrs,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,Miss,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,Mrs,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,Mr,male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data['Age'] = data.groupby(['Survived', 'Pclass', 'Name'])['Age'].transform(lambda x:x.fillna(x.mean()))
data["Embarked"] = data['Embarked'].fillna("S")
data.isnull().sum()
# data.groupby(['Survived', 'Pclass', 'Name'])['Age'].mean()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      0
dtype: int64

In [ ]:
import re
def get_deck_number(text):
  if type(x)==float:
    return 0
  result = re.findall('d\+',x)
  if len(result)==0:
    return 0
  else:
    return float(result[0])
data['Deck']=data['Cabin'].map(get_deck_number)
data.head()
# for x in data['Cabin'].unique():
#   if type(x)==float:
#     print(0)
#   else:
#     result = re.findall('d\+',x)
#     if len(result)==0:
#       print(0)
#     else:

#       print(float(result[0]))

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [ ]:
def get_deck_letter(x):
  if type(x)==float:
    return 'C'
  else:
    result =re.findall(r'[a-zA-Z]',x)
    text ="".join(result)
    if len(text)==1:
      return text
    elif len(text)>=2 and text[0]==text[1]:
      return text[0]
    else:
      return text
    if len(text)>2:
      return text[0]
data['deck_letter'] =data['Cabin'].map(get_deck_letter)
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,deck_letter
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,C
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,C
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,C
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,C

In [ ]:
def get_martial_status(Name):
  if Name in ['Miss',"Mrs","Master","Don"]:
    return  "Married"
  else:
    return "Unknown"
data['Name'] =data['Name'].map(get_martial_status)
data['Name'].unique()

array(['Unknown'], dtype=object)

In [ ]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,deck_letter
0,0,3,Unknown,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,C
1,1,1,Unknown,female,38.0,1,0,PC 17599,71.2833,C85,C,0,C
2,1,3,Unknown,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,C
3,1,1,Unknown,female,35.0,1,0,113803,53.1000,C123,S,0,C
4,0,3,Unknown,male,35.0,0,0,373450,8.0500,NaN,S,0,C

In [ ]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
for column in data.columns:
  if data[column].dtype=='object':
    data[column]=label.fit_transform(data[column])
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,deck_letter
0,0,3,0,1,22.0,1,0,523,7.2500,147,2,0,2
1,1,1,0,0,38.0,1,0,596,71.2833,81,0,0,2
2,1,3,0,0,26.0,0,0,669,7.9250,147,2,0,2
3,1,1,0,0,35.0,1,0,49,53.1000,55,2,0,2
4,0,3,0,1,35.0,0,0,472,8.0500,147,2,0,2

In [ ]:
data["Family Size"]=data['SibSp']+data['Parch']
data.drop(['SibSp','Parch','Sex'], axis=1, inplace=True)
data.head()

KeyError: 'SibSp'

In [ ]:
y = data['Survived'].values
x=data.drop('Survived', axis=1).values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=5)
model.score(x_test,y_test)